* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
}
img {
  width: 100%;
  height: auto;
}
.logo {
  margin: 3em 3em;
}

button {
  cursor: pointer;
}

.search-field-background {
  background: #fafafa;
  display: flex;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  border-left: 1px solid rgb(190, 189, 189);
  border-bottom: 1px solid rgb(190, 189, 189);
  align-items: center;
}

.search-field {
  display: flex;
  border: 2px solid #087dc0;
  border-radius: 4px;
  width: 70%;
  height: auto;
  margin-left: 2em;
}
.mobile-search {
  display: none;
}
.search-field button {
  background: #087dc0;
  color: white;
  border: 0;
  width: 4em;
}

.search-field ion-icon {
  font-size: 2em;
  align-self: center;
  height: 1.5em;
}

.search-field input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 1em;
  align-self: center;
  caret-color: #087dc0;
}

.search-field input:focus {
  outline: 0;
}
.close {
  display: none;
}
.icons {
  display: flex;
  align-content: center;
  margin-left: 3em;
}

#mail,
#notifications {
  border: 0;
  color: gray;
  width: 3em;
  background: #fafafa;
}

#mail ion-icon,
#notifications ion-icon {
  font-size: 2em;
  align-self: center;
  height: 0.8em;
}

.icons .icons-img {
  margin-right: 8px;
  margin-left: 3em;
}

#drop-down {
  border: 0;
  background: none;
  font-size: 1.2em;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

main h4 {
  margin-bottom: 1em;
  margin-left: -2em;
  color: #717171;
}

/* Side nav styles */

aside {
  border-right: 1px solid #f5fbff;
  margin-top: 3em;
}

aside li {
  margin: 0.5em auto 0.5em 0;
  padding: 1.5em;
  padding-left: 3em;
  height: 2em;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}

.aside {
  width: 23%;
  background: #fafafa;
  height: 100vh;
}

.active {
  border-right: 3px solid #087dc0;
  background: #f5fbff;
  color: #087dc0 !important;
}

.toggle-wrapper {
  display: none;
}

.nav-list li:hover {
  border-right: 3px solid #087dc0;
  background: #f5fbff;
}

.nav-list li {
  color: #717171;
}

.nav-list ion-icon {
  margin-right: 1em;
}

.logout {
  margin-top: 8em;
}

.logout a {
  text-decoration: none;
  color: red;
  display: flex;
  align-items: center;
}

.logout a:hover {
  color: white;
  background: red;
  padding: 8px;
  border-radius: 24px;
  transition: 0.3s;
}

.logout ion-icon {
  margin-right: 0.5em;
  font-size: 1.8em;
}

.remove {
  display: none;
}

/* Make content scrollable */

.scroll {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

/* Make content scrollable end */

.dashboard {
  margin-left: 4em;
  margin-top: 3em;
}

.dashboard a:hover {
  font-size: 1em;
  transition: 0.3s;
}

.categories {
  display: flex;
}

.category {
  width: 20%;
}

.category img {
  height: 5em;
  width: 5em;
  border-radius: 10px;
  margin-right: 1em;
}

.category button {
  height: 5em;
  width: 5em;
  border-radius: 10px;
  border: 2px solid #087dc0;
  font-size: 1.05em;
  background: white;
}

.caption {
  margin-top: 10px;
}

.category a {
  color: black;
  text-decoration: none;
}

.btn p {
  margin-left: 1em;
}

#other {
  font-size: 2.5em;
  color: black;
}

.latest-barter {
  margin-top: 2em;
}

.latest-barter h4 {
  display: inline;
}

.see-all {
  float: right;
  text-decoration: none;
  color: #717171;
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.barters {
  display: flex;
  margin-top: 1em;
}
.barter {
  width: 30%;
  text-align: center;
  background: #f5fbff;
  margin: auto 1em;
  border-radius: 10px;
  padding: 1em;
}

.barter p {
  font-size: 14px;
  text-align: left;
  width: 60%;
  margin: 0.5em auto;
}

.barter img {
  height: 10em;
}

/* Trade */

.trade {
  width: 100%;
  text-align: center;
}

.trade h1 {
  width: 100%;
  padding: 0.55em;
}

.trade-grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-gap: 2em;
  margin-top: 2em;
}

.trade-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #717171;
  width: 70%;
  margin: auto;
  border-radius: 0.5em;
  padding: 1em;
}

.trade-item img {
  height: 16em;
  flex-basis: 40%;
}

.trade-item article {
  text-align: left;
  margin-left: 1em;
}

.trade-item button {
  background: #a4d2ec;
  color: #087dc0;
  padding: 10px 30px;
  border: 0;
  border-radius: 24px;
  margin-top: 3em;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 2;
  grid-row: 1;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
}
/* Wishlist styling start */
.wishlist-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.wishlist-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.no-wishlist_img {
  width: 20%;
  height: auto;
}
.no-wishlist_img img {
  width: 100%;
  height: auto;
}
.no-wishlist_text {
  font-size: 1rem;
}
.no-wishlist_btn {
  background: #087dc0;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1.2rem;
  color: white;
  font-size: 0.8rem;
}
/* Wishlist styling end */

@media screen and (max-width: 768px) {
  /* General styling */
  .scroll-x {
    width: 100%;
    overflow-x: auto;
  }
  /* General styling end */
  /* Side bar styling start*/
  .aside {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto 1fr;
    row-gap: 10vw;
    padding: 5vw;
    right: 100vw;
    transition: transform 0.5s ease;
  }
  .aside.show {
    transform: translateX(100vw);
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .toggle-wrapper {
    grid-template-columns: 2/3;
    grid-row: 1/2;
    display: block;
    width: 100%;
  }
  .nav-toggle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-toggle ion-icon {
    font-size: 9vw;
  }
  aside {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
  }
  aside nav {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 10%;
  }
  aside nav ul {
    flex: 20%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5%;
    align-items: flex-start;
  }
  aside li {
    margin: 0;
    padding: 0;
  }
  .nav-list {
    flex: 80%;
  }
  .nav-list li {
    padding: 1%;
    width: 100%;
  }
  .nav-btn,
  .logout {
    font-size: 7vw;
  }
  .logout {
    margin-top: 0;
  }
  /* Side bar styling end */

  /* Search field general styling start */
  .search-field-background {
    padding: 5vw;
    gap: 1vw;
    position: relative;
  }
  .mobile-search {
    margin-left: auto;
    display: block;
  }
  .mobile-search button {
    color: gray;
    outline: none;
    border: none;
    background: transparent;
  }
  .search-field {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
    border-radius: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    background: white;
    transition: transform 0.5s ease;
  }
  .search-field.show {
    transform: translateY(100%);
  }
  .search-field-background .toggle-wrapper {
    width: 10%;
  }
  .search-field button {
    flex: 20%;
    width: 100%;
  }
  .search-field .close {
    display: block;
    background: transparent;
    color: black;
  }
  .search-field button ion-icon {
    font-size: 7vw;
  }
  .search-field ion-icon {
    font-size: 4vw;
    height: 100%;
  }
  .search-field input {
    flex: 80%;
    padding: 3vw 1vw 3vw 5vw;
    font-size: 5vw;
  }
  .icons {
    margin: 0;
    gap: 1vw;
  }
  #mail,
  #notifications {
    width: fit-content;
  }
  #mail ion-icon,
  #notifications ion-icon {
    font-size: 5vw;
  }
  .icons .icons-img {
    margin: 0;
    width: 7vw;
  }
  /* Search field general styling end*/

  /* Dashboard styling start */
  .dashboard {
    margin: 0;
    padding: 5vw;
    height: 100%;
  }
  main h4 {
    margin: 0 0 5vw;
    font-size: 5vw;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(10, minmax(30%, 1fr));
    gap: 3vw;
  }
  .category {
    display: block;
    width: 100%;
    height: 100%;
  }
  .category-link {
    display: flex;
    flex-flow: column nowrap;
    gap: 3vw;
  }
  .category img {
    flex: 60%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-right: 0;
  }
  .category p {
    width: 100%;
    flex: 40%;
    font-size: 3.5vw;
    margin-top: 0;
    text-align: center;
  }
  .category.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .btn p {
    flex: 100%;
    margin: 0;
  }
  .latest-barter {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }
  .latest-barter h4 {
    margin: 0;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .latest-barter > a {
    margin: 0;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3.5vw;
  }
  .barters {
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(10, minmax(50vw, 1fr));
    grid-template-rows: repeat(1, minmax(40vw, 50vw));
    gap: 3vw;
  }
  .barter {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 2vw;
  }
  .barter p {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 3.5vw;
  }
  .barter img {
    width: 100%;
    height: 50%;
  }
  /* Dashboard styling end */

  /* trade styling start */
  .trade .header {
    display: flex;
    background: #087dc0;
    color: white;
    padding: 5vw;
  }
  .trade .toggle-wrapper {
    flex: 10%;
  }
  .trade h1 {
    flex: 90%;
    font-size: 7vw;
  }
  .trade-grid {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3vw;
    padding: 5vw;
  }
  .trade-item {
    margin: 0;
    width: 100%;
    padding: 5vw;
    display: grid;
    grid-template-columns: 60% auto;
    gap: 5%;
  }
  .trade-item img {
    height: auto;
    width: 100%;
  }
  .trade-item article {
    margin: 0;
    font-size: 4vw;
  }
  .trade-item button {
    width: 100%;
    font-size: 4vw;
  }
  /* trade styling end */

  /* Wishlist styling start */
  .no-wishlist_img {
    width: 60vw;
  }
  .no-wishlist_text {
    font-size: 5vw;
  }
  .no-wishlist_btn {
    width: 40vw;
    padding: 5vw;
    font-size: 4vw;
  }

  /* Wishlist styling end */
}
