$primary-blue: hsla(202, 92%, 39%, 1);
$primary-black: hsl(240, 14%, 10%);
$mid-gray: hsla(0, 0%, 40%, 1);
$light-blue: hsla(202, 100%, 63%, 1);
$white: hsla(0, 0%, 100%, 1);
$very-light-gray: hsl(0, 0%, 90%);
$airbnb: hsl(0, 100%, 66%);
$dark-black: hsla(0, 0%, 7%, 1);
