$primary-blue: hsla(202, 92%, 39%, 1);
$primary-black: hsla(240, 14%, 10%, 1);
$mid-gray: hsla(0, 0%, 40%, 1);
$light-blue: hsla(202, 100%, 63%, 1);
$white: hsla(0, 0%, 100%, 1);
$very-light-gray: hsl(0, 0%, 90%);
