@media only screen and (min-width: 768.1px) {
  body {
    background: linear-gradient(135deg, $very-light-gray, hsl(0, 0%, 99%));
  }

  .mobile-menu {
    display: none;
  }

  .nav-container {
    padding: 3rem 5rem 0;
    justify-content: space-between;
  }

  .nav-logo {
    flex: 0.5;
    font-size: 1.5rem;
  }

  .nav-logo {
    align-items: center;
  }

  .nav-wrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    background: transparent;
    position: static;
    flex: 2;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0;
  }

  .nav-links ul,
  .nav-btns {
    gap: 2rem;
  }
  .nav-links {
    color: $primary-black;
    & &__link:hover {
      color: $primary-blue;
    }
    & ul {
      flex-flow: row nowrap;
    }
  }
  .nav-btns {
    flex-flow: row nowrap;
    justify-content: flex-end;
    & &__btn {
      min-width: 80px;
      width: 45%;
      max-width: 120px;
      padding: 1rem 0;
      border-radius: 5px;
      &.sign-up {
        background: $primary-blue;
        border: 1px solid $primary-blue;
      }
    }
  }

  .hero {
    flex-flow: row nowrap;
    gap: 0;
    padding: 5rem 5rem 0;
  }

  .hero-wrapper {
    position: relative;
    height: auto;
    flex: 55%;
    padding: 0;
    text-align: left;
    gap: 1rem;
    padding: 2rem 2rem 10%;
    justify-content: center;
  }
  .hero-header {
    width: 80%;
    font-size: 2.5rem;
  }
  .hero-txt {
    width: 75%;
    font-size: 1rem;
  }
  .hero-img {
    flex: 45%;
    order: 1;
    padding: 0;
    min-height: 28rem;
    max-height: 35rem;
    overflow: hidden;
    border-radius: 10px;
  }
  .hero-form {
    position: absolute;
    bottom: 17%;
    height: 13%;
    width: 70%;
    font-size: 1rem;
    margin: 0;
  }
  .trusted {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-brands {
      flex-flow: row nowrap;
      gap: 0.5rem;
      & > * {
        width: 100%;
      }
      .airbnb {
        svg {
          padding: 0;
          flex: 20%;
        }
        span {
          font-size: 3rem;
          text-align: center;
        }
      }
    }
  }
  .mech {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 5rem;
      .mech-container {
        height: 17rem;
        &__img {
          span {
            width: 4rem;
            height: 4rem;
          }
        }
        &__info {
          gap: 1.5rem;
          &-header,
          &-txt {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .reasons {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 5rem;
      .reasons-container {
        height: 17rem;
        &__img {
          span {
            width: 4rem;
            height: 4rem;
          }
        }
        &__info {
          gap: 1.5rem;
          &-header,
          &-txt {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .categories {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    .categories-container {
      padding: 3rem 0;
      .category-name,
      .category-number {
        font-size: 1rem;
      }
    }
  }

  .reviews {
    padding: 5rem;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 1.5rem;
    }
    .review-container {
      flex: 50%;
      border: 7px solid transparent;
      height: 17rem;
      padding: 0 2%;
      .review-info {
        font-size: 1.05rem;
      }
      .review-user {
        height: 7rem;
        gap: 0.5rem;
        &__img {
          width: 4rem;
          height: 4rem;
        }
        &__name {
          font-size: 1rem;
        }
      }
      &:hover {
        border-left: 7px solid $primary-blue;
      }
    }
  }
  .newsletter {
    padding: 5rem 5rem;
    flex-flow: row nowrap;
    gap: 2rem;
    text-align: left;
  }
  .news-txt {
    flex: 60%;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .news-form {
    flex: 40%;
    width: 80%;
    height: 5rem;
    font-size: 1.1rem;
  }

  footer {
    padding: 5rem;
  }
  .footer-contents {
    flex-flow: row nowrap;
    text-align: left;
    gap: 0;
  }
  .ft-blk {
    gap: 2rem;
    p {
      width: 80%;
      font-size: 1rem;
    }
  }
  .ft-blk .logo {
    font-size: 1.7rem;
  }
  .ft-blk h2,
  .ft-blk h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  .quick-lk {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    & li {
      font-size: 0.85rem;
    }
  }
  .contact-mail,
  .contact-tel,
  .contact-add {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
  }
  .contact-mail::before,
  .contact-tel::before,
  .contact-add::before {
    height: 2rem;
    width: 2rem;
    padding: 0 10px;
    margin-right: 1rem;
  }
  .app {
    div {
      flex-flow: column nowrap;
      gap: 1rem;
    }
  }

  .foot-notes {
    flex-flow: row nowrap;
    font-size: 1rem;
    margin-top: 2rem;
    text-align: left;
    gap: 0;
  }
  .foot-notes p {
    flex: 50%;
  }

  .go-up {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5%;
  }

  .flex2 {
    flex: 2;
  }
  .flex1 {
    flex: 1;
  }
}
