@media only screen and (min-width: 768.1px) {
  body {
    background: linear-gradient(135deg, $very-light-gray, hsl(0, 0%, 99%));
  }

  .mobile-menu {
    display: none;
  }

  .nav-container {
    padding: 3rem 5rem 0;
    justify-content: space-between;
  }

  .nav-logo {
    flex: 0.5;
    font-size: 1.5rem;
  }

  .nav-logo {
    align-items: center;
  }

  .nav-wrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    background: transparent;
    position: static;
    flex: 2;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0;
  }

  .nav-links ul,
  .nav-btns {
    gap: 2rem;
  }
  .nav-links {
    color: $primary-black;
    & &__link:hover {
      color: $primary-blue;
    }
    & ul {
      flex-flow: row nowrap;
    }
  }
  .nav-btns {
    flex-flow: row nowrap;
    justify-content: flex-end;
    & &__btn {
      min-width: 80px;
      width: 45%;
      max-width: 120px;
      padding: 1rem 0;
      border-radius: 5px;
      &.sign-up {
        background: $primary-blue;
        border: 1px solid $primary-blue;
      }
    }
  }

  .hero {
    flex-flow: row nowrap;
    gap: 0;
    padding: 5rem 5rem 0;
  }

  .hero-wrapper {
    position: relative;
    height: auto;
    flex: 55%;
    padding: 0;
    text-align: left;
    gap: 1rem;
    padding: 2rem 2rem 10%;
    justify-content: center;
  }
  .hero-header {
    width: 80%;
    font-size: 2.5rem;
  }
  .hero-txt {
    width: 75%;
    font-size: 1rem;
  }
  .hero-img {
    flex: 45%;
    order: 1;
    padding: 0;
    min-height: 28rem;
    max-height: 35rem;
    overflow: hidden;
    border-radius: 10px;
  }
  .hero-form {
    position: absolute;
    bottom: 17%;
    height: 13%;
    width: 70%;
    font-size: 1rem;
    margin: 0;
  }
  .trusted {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-brands {
      flex-flow: row nowrap;
      gap: 0.5rem;
      & > * {
        width: 100%;
      }
      .airbnb {
        svg {
          padding: 0;
          flex: 20%;
        }
        span {
          font-size: 3rem;
          text-align: center;
        }
      }
    }
  }
  .mech {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 5rem;
      .mech-container {
        height: 17rem;
        &__img {
          span {
            width: 4rem;
            height: 4rem;
          }
        }
        &__info {
          gap: 1.5rem;
          &-header,
          &-txt {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .reasons {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 5rem;
      .reasons-container {
        height: 17rem;
        &__img {
          span {
            width: 4rem;
            height: 4rem;
          }
        }
        &__info {
          gap: 1.5rem;
          &-header,
          &-txt {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .categories {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
    .categories-container {
      padding: 3rem 0;
      .category-name,
      .category-number {
        font-size: 1rem;
      }
    }
  }

  .reviews {
    padding: 5rem 5rem 0;
    gap: 3rem;
    &-header {
      font-size: 1.7rem;
    }
    &-wrapper {
      flex-flow: row nowrap;
      gap: 1.5rem;
    }
    .review-container {
      flex: 50%;
      border: 7px solid transparent;
      height: 17rem;
      padding: 0 2%;
      .review-info {
        font-size: 1.05rem;
      }
      .review-user {
        height: 7rem;
        &__img {
          width: 4rem;
          height: 4rem;
        }
        &__name {
          font-size: 1rem;
        }
      }
      &:hover {
        border-left: 7px solid $primary-blue;
      }
    }
  }
  .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #087dc0;
    color: #fff;
    padding: 54px 120px;
  }
  .news-txt {
    flex: 2;
  }

  .news-form {
    flex: 1;
    position: relative;
  }
  .news-form input {
    width: 100%;
    height: 63px;
    position: relative;
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
  }

  .news-form label {
    position: absolute;
    top: 0%;
    right: 0%;
  }

  .news-form label button {
    padding: 28% 54%;
    background-color: #087dc0;
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
  }
  footer {
    position: relative;
    background: #121212;
    color: #fff;
  }

  .footer-contents {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
  }

  .ft-blk {
    flex: 1;
    align-items: center;
  }

  .ft-blk h2 {
    font-weight: 500;
  }

  .contact-mail::before {
    content: '';
    background: url('/contact/img/c-mail.png') no-repeat center/cover;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .contact-tel::before {
    content: '';
    background: url('/contact/img/tel.png') no-repeat center/cover;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .contact-add::before {
    content: '';
    background: url('/contact/img/location.png');
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  .app img:nth-of-type(1) {
    margin-bottom: 40px;
  }

  .footer-contents li {
    list-style: none;
    margin-top: 32px;
  }

  .footer-contents li a {
    color: #fff;
    text-decoration: none;
  }

  .foot-notes {
    display: flex;
    padding: 0 120px 48px;
    font-size: 12px;
  }

  .foot-notes p {
    flex: 1;
  }

  .quick-lk {
    padding: 0;
  }

  .go-up {
    width: 40px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }

  .go-up img {
    position: absolute;
    left: 36.52%;
    right: 11.45%;
    top: 38.74%;
  }
}
