.hero-header {
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero,
.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.hero {
  gap: 5vw;
  padding: 0;
}

.hero-img {
  width: 100%;
  height: 100vw;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.hero-wrapper {
  text-align: center;
  padding: 0 5vw;
  gap: 2vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-header {
  width: 100%;
  font-size: 7vw;
}

.hero-txt {
  width: 100%;
  color: #666666;
  font-size: 5vw;
}

.hero-form {
  position: static;
  width: 100%;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('./Combined Shape.svg') no-repeat left 2% center/5% auto,
    white;
  padding: 1%;
  border: 1px solid #42baff;
  border-radius: 5px;
  position: relative;
  font-size: 4vw;
  margin-top: 7vw;
}

.hero-form > * {
  height: 100%;
  border: none;
  outline: none;
}

.hero-form .form-input {
  -webkit-box-flex: 65%;
  -ms-flex: 65%;
  flex: 65%;
  background: transparent;
  padding: 0 0 0 8%;
  font-size: inherit;
}

.hero-form .form-submit {
  -webkit-box-flex: 35%;
  -ms-flex: 35%;
  flex: 35%;
  text-transform: capitalize;
  font-size: inherit;
  border-radius: 5px;
}

.trusted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
  text-align: center;
  padding: 5vw 5vw 0;
}

.trusted-header {
  font-size: 5vw;
}

.trusted-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trusted-brands > * {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
  width: 60%;
}

.trusted-brands .airbnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trusted-brands .airbnb svg {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  padding: 1vw;
}

.trusted-brands .airbnb span {
  color: #ff5252;
  font-size: 9vw;
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 700;
}

.trusted-brands .hotelsng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mech {
  padding: 5vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
  width: 100%;
}

.mech-header {
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
}

.mech-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5vw;
}

.mech-wrapper .mech-container {
  width: 90%;
  height: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  -ms-grid-column: 100;
  grid-column: 100%;
  background: white;
  text-align: center;
  border-radius: 5px;
}

.mech-wrapper .mech-container__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mech-wrapper .mech-container__img span {
  width: 15vw;
  height: 15vw;
  padding: 3%;
  border-radius: 50%;
  background: #e6e6e6;
}

.mech-wrapper .mech-container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7%;
}

.mech-wrapper .mech-container__info-header,
.mech-wrapper .mech-container__info-txt {
  font-size: 4.5vw;
  width: 80%;
  margin: 0 auto;
}

.mech-wrapper .mech-container__info-header {
  font-weight: 500;
}

.mech-wrapper .mech-container:hover {
  background: #087cbf;
  color: white;
}

.reasons {
  padding: 7vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
  width: 100%;
}

.reasons-header {
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
}

.reasons-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3vw;
}

.reasons-wrapper .reasons-container {
  width: 90%;
  height: 60vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  -ms-grid-column: 100;
  grid-column: 100%;
  background: transparent;
  text-align: center;
  border-radius: 5px;
}

.reasons-wrapper .reasons-container__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reasons-wrapper .reasons-container__img span {
  width: 15vw;
  height: 15vw;
  padding: 5%;
  border-radius: 50%;
  background: #e6e6e6;
}

.reasons-wrapper .reasons-container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7%;
}

.reasons-wrapper .reasons-container__info-header,
.reasons-wrapper .reasons-container__info-txt {
  font-size: 4.5vw;
  width: 80%;
  margin: 0 auto;
}

.reasons-wrapper .reasons-container__info-header {
  font-weight: 500;
}

.reasons-wrapper .reasons-container:hover {
  background: #087cbf;
  color: white;
}

.categories {
  padding: 5vw 5vw 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
}

.categories-header {
  font-size: 5vw;
}

.categories-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
}

.categories .categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
  color: #16161d;
  padding: 5vw 0;
}

.categories .categories-container .category-name {
  font-size: 3.5vw;
  font-weight: 600;
}

.categories .categories-container .category-number {
  font-size: 3.5vw;
  font-weight: 400;
}

.categories .categories-container:hover {
  background: #087cbf;
  color: white;
}

.reviews {
  padding: 5vw 5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
}

.reviews-header {
  font-size: 4vw;
  text-align: center;
}

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  gap: 3vw;
}

.reviews .review-container {
  height: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50%) [2];
  grid-template-rows: repeat(2, 50%);
  background: white;
  padding: 0 8%;
  border: 4px solid transparent;
}

.reviews .review-container .review-info {
  font-size: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews .review-container .review-user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
  grid-template-columns: 20% 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;
  width: 90%;
  height: 15vw;
  margin: auto 0;
}

.reviews .review-container .review-user__img {
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: auto auto;
}

.reviews .review-container .review-user__name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.reviews .review-container .review-user__rating {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.reviews .review-container .review-user__rating svg {
  height: auto;
  width: 25%;
}

.reviews .review-container:hover {
  border-left: 4px solid #087cbf;
}

@media only screen and (min-width: 768.1px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 0;
    padding: 5rem 5rem 0;
  }
  .hero-wrapper {
    position: relative;
    height: auto;
    -webkit-box-flex: 55%;
    -ms-flex: 55%;
    flex: 55%;
    padding: 0;
    text-align: left;
    gap: 1rem;
    padding: 2rem 2rem 10%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-header {
    width: 80%;
    font-size: 2.5rem;
  }
  .hero-txt {
    width: 75%;
    font-size: 1rem;
  }
  .hero-img {
    -webkit-box-flex: 45%;
    -ms-flex: 45%;
    flex: 45%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    min-height: 28rem;
    max-height: 35rem;
    overflow: hidden;
    border-radius: 10px;
  }
  .hero-form {
    position: absolute;
    bottom: 17%;
    height: 13%;
    width: 70%;
    font-size: 1rem;
    margin: 0;
  }
  .trusted {
    padding: 5rem 5rem 0;
    gap: 3rem;
  }
  .trusted-header {
    font-size: 1.7rem;
  }
  .trusted-brands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 0.5rem;
  }
  .trusted-brands > * {
    width: 100%;
  }
  .trusted-brands .airbnb svg {
    padding: 0;
    -webkit-box-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
  }
  .trusted-brands .airbnb span {
    font-size: 3rem;
    text-align: center;
  }
  .mech {
    padding: 5rem 5rem 0;
    gap: 3rem;
  }
  .mech-header {
    font-size: 1.7rem;
  }
  .mech-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 5rem;
  }
  .mech-wrapper .mech-container {
    height: 17rem;
  }
  .mech-wrapper .mech-container__img span {
    width: 4rem;
    height: 4rem;
  }
  .mech-wrapper .mech-container__info {
    gap: 1.5rem;
  }
  .mech-wrapper .mech-container__info-header,
  .mech-wrapper .mech-container__info-txt {
    font-size: 1rem;
  }
  .reasons {
    padding: 5rem 5rem 0;
    gap: 3rem;
  }
  .reasons-header {
    font-size: 1.7rem;
  }
  .reasons-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 5rem;
  }
  .reasons-wrapper .reasons-container {
    height: 17rem;
  }
  .reasons-wrapper .reasons-container__img span {
    width: 4rem;
    height: 4rem;
  }
  .reasons-wrapper .reasons-container__info {
    gap: 1.5rem;
  }
  .reasons-wrapper .reasons-container__info-header,
  .reasons-wrapper .reasons-container__info-txt {
    font-size: 1rem;
  }
  .categories {
    padding: 5rem 5rem 0;
    gap: 3rem;
  }
  .categories-header {
    font-size: 1.7rem;
  }
  .categories-wrapper {
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .categories .categories-container {
    padding: 3rem 0;
  }
  .categories .categories-container .category-name,
  .categories .categories-container .category-number {
    font-size: 1rem;
  }
  .reviews {
    padding: 5rem;
    gap: 3rem;
  }
  .reviews-header {
    font-size: 1.7rem;
  }
  .reviews-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    gap: 1.5rem;
  }
  .reviews .review-container {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    border: 7px solid transparent;
    height: 17rem;
    padding: 0 2%;
  }
  .reviews .review-container .review-info {
    font-size: 1.05rem;
  }
  .reviews .review-container .review-user {
    height: 7rem;
    gap: 0.5rem;
  }
  .reviews .review-container .review-user__img {
    width: 4rem;
    height: 4rem;
  }
  .reviews .review-container .review-user__name {
    font-size: 1rem;
  }
  .reviews .review-container:hover {
    border-left: 7px solid #087cbf;
  }
}
