.content-header {
  left: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #000000;
}

.content-p {
  /* position: absolute;  */ /*This line is not needed*/
  color: #696969;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 29px;
  align-items: center;
}

/*flexbox
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotter-b {
    background-color: #121212;
    display: flex;
    justify-content: space-around;
}

.newsletter {
    display: flex;
    background-color: #087dc0;
    position: absolute;
    width: 1440px;
    height: 168px;
    left: 0px;
    top: 1392px;

}

.logo span {
    color:"#087dc0"
}*/
