@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.logo {
  display: flex;
  font-size: 24px;
  align-self: center;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 26px 0;
}

.logo {
  text-decoration: none;
  color: #16161d;
}

.logo span {
  color: #087cbf;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #087dc0;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 60px auto;
  padding: 30px;
  padding-bottom: 180px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  gap: 26px;
}

main h3 {
  font-weight: 500;
}

.barter-mail {
  color: #087cbf;
}

.verify-opts {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  border: 1px solid #bfe8ff;
  border-radius: 4px;
  align-items: center;
  padding: 12px 8px;
}

.verify-opts p {
  margin-right: 30px;
}

button {
  background: #087dc0;
  border-radius: 4px;
  color: #fff;
  border: 1px solid;
  width: 201px;
  height: 55px;
}

hr {
  margin-top: 26px;
}

.foot-notes {
  position: absolute;
  left: calc(50% - 158px / 2);
}

@media screen and (max-width: 1080px) {
  .wrapper {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    margin-top: 0;
  }
}
