main {
  padding: 77px 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}

.main-img {
  flex: 1;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.send-msg {
  flex: 1;
  margin-left: 165px;
}

.info-box {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.info-box:first-child {
  margin-top: 47px;
}

.info-box label {
  padding-bottom: 8px;
}

.info-box input {
  background: #f9f9f9;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding-left: 8px;
  height: 56px;
  width: 100%;
  font-size: 1rem;
  outline-color: #087dc0;
}

.message-box #message {
  height: 212px;
}

form button {
  width: 100%;
  height: 60px;
  background: #087dc0;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  /* margin-top: 46px; */
}

.contact-us {
  padding: 77px 120px;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cont-comps {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-us h2,
.news-txt h2 {
  font-weight: 500;
}

@media screen and (max-width: 1380px) {
  main {
    padding: 45px 80px;
  }
}

@media screen and (max-width: 1245px) {
  /* header {
    padding: 45px 50px;
  } */

  main {
    padding: 45px 50px;
  }

  .contact-us {
    padding: 45px 50px;
  }
}

@media screen and (max-width: 1130px) {
  .send-msg {
    margin-left: 80px;
  }
}

@media screen and (max-width: 989px) {
  main {
    padding: 40px;
  }

  .contact-us {
    padding: 40px;
  }
  /* .register button:first-child,
  .register button:nth-child(2) {
    padding: 18px 35px;
  } */
}

/* @media screen and (max-width: 950px) and (min-width: 800px) {
  .desktop-nav {
    gap: 18px;
  }

  .nav {
    gap: 15px;
  }
} */

@media screen and (max-width: 800px) {
  /* .newsletter {
    padding: 40px;
  }

  .footer-contents {
    padding: 40px;
  }

  .foot-notes {
    padding: 40px;
  } */
}

@media screen and (max-width: 767px) {
  /* header {
    padding: 20px;
  }

  .logo {
    font-size: 20px;
  }

  .desktop-nav {
    display: none;
  } */

  /* .mobile-nav {
        
    } */

  /* #open-nav {
    display: block;
  } */

  /* .nav {
    flex-direction: column;
    padding: 0;
  } */

  /* .register {
    display: flex;
    flex-direction: column;
  }

  .register button:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  } */

  /* animating mobile nav */

  /* .mobile-nav {
        
    } */

  main {
    flex-direction: column;
  }

  .send-msg {
    margin-left: 0;
  }

  .cont-comps {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
