main {
  display: flex;
  flex-direction: column;
  /* padding: 3rem 5rem 3rem; */
  color: #696969;
}

.main-head {
  align-self: center;
  margin: 24px 0;
  color: #000;
  font-weight: 500;
}

.zuri-h3 {
  border-bottom-color: #087dc0;
}

.zuri-flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-50 {
  flex: 50%;
}
.flex-100 {
  flex: 100%;
}

.txt-bx {
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 5px 4px 12px rgba(8, 125, 192, 0.25);
  line-height: 29.05px;
  margin-bottom: 26px;
}

.txt-bx p + p {
  margin-top: 26px;
}

.bold {
  font-weight: 600;
  text-transform: uppercase;
}

.values-head {
  text-align: center;
  margin-bottom: 48px;
  font-weight: normal;
}

.value-txt {
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 5px 4px 12px rgba(8, 125, 192, 0.25);
  line-height: 29.05px;
  margin-bottom: 26px;
}

.value {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-transform: uppercase;
  font-weight: 600;
}

/* @media screen and (max-width: 767px) {
  main {
    padding: 3rem 2rem;
  }
} */
