@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

html {  
    position: absolute;
    width: 928px;
    height: 670px;
    left: 255px;
    top: 115px;   
    background: #FFFFFF;
    border: 1px solid #087dc0;
    box-sizing: border-box;
    border-radius: 4px;
}


.wrapper h1 {
    position: absolute;
    width: 186px;
    height: 29px;
    left:  calc(50% - 100px/2 - 100.5px);
    top: 10px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;

}

span {color: #087dc0}

.subtitle h2 {
    position: absolute;
    width: 245px;
    height: 29px;
    left: calc(50% - 245px/2 - 105.5px);
    top: 66px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #16161D;
}

.subtitle p {
    position: absolute;
    width: 438px;
    height: 40px;
    left:  calc(50% - 438px/2 - 9px);
    top: 116px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.subtitle-p {
    position: absolute;
    width: 247px;
    height: 19px;
    left: calc(50% - 438px/2 - 9px);
    top: 196px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.email {
    position: absolute;
    width: 438px;
    height: 45px;
    left: calc(50% - 438px/2 - 9px);
    top: 250px;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}



.continue-btn{
    position: absolute;
    width: 438px;
    height: 55px;
    left: calc(50% - 438px/2 - 9px);
    top: 400px;
    background: #087DC0;
    border-radius: 4px;
}

.foot-notes {
    position: absolute;
    width: 158px;
    height: 21px;
    left: calc(50% - 158px/2);
    top: 860px;
    font-size: 16px;
    line-height: 19px;
    color: #16161D;
}