// Background images
$onboarding1mobile: 'https://images.unsplash.com/photo-1609421141652-f33a94b43944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80';
$onboarding2mobile: 'https://images.unsplash.com/photo-1604344865130-b8c0c7f6c9fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80';
$onboarding3mobile: 'https://images.unsplash.com/photo-1566576721346-d4a3b4eaeb55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80';

// Colors

$light-blue: #087dc0;
$light-gray: #cecece;
